@model TeampulseReporting.Models.DoneItemsViewModel

@{
    View.Title = "Done Problems";
    Layout = "~/Views/Shared/_Blueprint.cshtml";
}

<h2>Done Items in iteration</h2>
<h3>Problems</h3>
@Html.Partial("DoneItemView",Model.DoneProblems)

<h3>Stories</h3>
@Html.Partial("DoneItemView",Model.DoneStories)

