@model TeampulseReporting.Models.DoneItemsViewModel

@{
    View.Title = "Done Problems";
    Layout = "~/Views/Shared/_Blueprint.cshtml";
}

<div class="back-link">@Html.ActionLink("Home","Index","Home")</div>
<h2>Done Items in iteration @Model.IterationName </h2>
<h3>Problems</h3>
@Html.Partial("DoneItemView",Model.DoneProblems)    

<h3>Stories</h3>
@Html.Partial("DoneItemView",Model.DoneStories)

